<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的成绩</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">我的成绩</a>
        <div class="ml-auto">
            <a href="/logout" class="btn btn-danger">退出登录</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h3>我的课程成绩</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>课程名称</th>
                    <th>平时成绩</th>
                    <th>出勤成绩</th>
                    <th>期末成绩</th>
                    <th>总成绩</th>
                    <th>成绩等级</th>
                </tr>
            </thead>
            <tbody>
                {% for score in my_scores %}
                    <tr>
                        <td>{{ score.course_name }}</td>
                        <td>{{ score.usual_score }}</td>
                        <td>{{ score.attendance_score }}</td>
                        <td>{{ score.final_score }}</td>
                        <td>{{ score.total_score }}</td>
                        <td>{{ score.grade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
